# =========================
# Server
# =========================
PORT=3000
NODE_ENV=development

# =========================
# MQTT Broker
# =========================
MQTT_HOST=192.168.1.110
MQTT_PORT=1883
MQTT_PROTOCOL=mqtt
MQTT_CLIENT_ID=robot-backend

# Optional (leave empty if not used)
MQTT_USERNAME=
MQTT_PASSWORD=

# =========================
# MQTT Topics
# =========================
MQTT_TELEMETRY_FAST=robot/telemetry/fast
MQTT_TELEMETRY_SLOW=robot/telemetry/slow
MQTT_CMD_MOTORS=robot/cmd/motors

# =========================
# Socket.IO
# =========================
SOCKET_NAMESPACE=/robot
