# Backend HTTP server
PORT=3001

# MQTT broker URL
# Use localhost for local development
# Example for Raspberry Pi: mqtt://192.168.1.110:1883
MQTT_URL=mqtt://127.0.0.1:1883

# MQTT topic(s) to subscribe
# '#' means "all subtopics"
MQTT_TOPIC="robot/telemetry/#"

